html, body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
}

.home-slider .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
}