html, body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
}

.home-slider .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
}

.gallery-section .owl-dots {
    margin-top: 30px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #c00a27a6 !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #c00a27 !important;
}

.home-slider .owl-nav {
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: #fff;
    display: flex;
    gap: 0 !important;
    z-index: 99;
}

.home-slider .owl-nav button {
    display: block;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000 !important;
    border-radius: 0px !important;
    border: none;
    opacity: 0.5;
    margin: 0 !important;
    position: relative;
    color: #000 !important;
}

.home-slider .owl-nav button:last-child {
    background-color: #F0A323 !important;
    color: #F0A323 !important;
    opacity: 1 !important;
}

.home-slider .owl-nav button:first-child::after {
    content: "←";
    position: absolute;
    color: #fff;
    font-size: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-slider .owl-nav button:last-child::after {
    content: "→";
    position: absolute;
    color: #000;
    font-size: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page-enter-active,
.page-leave-active {
    transition: 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0.1;
    transform: translateY(-20px);
}

.dm-serif {
    font-family: "DM Serif Display", serif;
}