html, body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
}

.home-slider .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
}

.gallery-section .owl-dots {
    margin-top: 30px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #c00a27a6 !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #c00a27 !important;
}